<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>HttpClient Demo</h2>

<!-- <ul>
  <li>User: {{user.login}}</li>
  <li>Major: {{user.bio}}</li>
  <li>Company: {{user.company}}</li>
</ul> -->

<div class="row">
  <div class="m-t-1">
  	<button class="btn btn-primary" (click)="doGET()">GET</button>
  	<button class="btn btn-primary" (click)="doPost()">POST</button>
  	<!-- <button class="btn btn-primary" (click)="doPUT()">PUT</button>
  	<button class="btn btn-primary" (click)="doDELETE()">DELETE</button> -->
	</div>
</div>

<div class="row">
  <div class="m-t-1">
  	<!-- <button class="btn btn-secondary" (click)="doGETAsPromise()">As Promise</button>
  	<button class="btn btn-secondary" (click)="doGETAsPromiseError()">Error as Promise</button>
  	<button class="btn btn-secondary" (click)="doGETAsObservableError()">Error as Observable</button> -->
	</div>
</div>



